@using PizzaVikiMVC4;
@model NavigationMenusAndPhoneOrders

@{
    ViewBag.Title = "Contacts";
    Layout = "~/Views/Shared/_LayoutContacts.cshtml";    
}

@section Menu{
    <nav>
	    <section>
		    <article id="menu">
			    <ul>
				    <li>
					    <a href="/Home/Index/" title="Начало" id="Home" target="_self">Начало</a>
				    </li>
				    <li>
					    <a href="/Home/Index/" target="_self">Меню</a>
					    <ul>
                            @foreach (var navMenu in Model.NavigationMenus)
                            {
						        <li><a href="@navMenu.Link" title="@navMenu.Title" id="pici" target="_self">@navMenu.Text</a></li>
                            }
					    </ul>
				    </li>
				    <li>
					    <a href="/Contacts/Contacts/" title="Контакти" id="Contacts" target="_self">Контакти</a>
				    </li>
			    </ul>
		    </article>
	    </section>
    </nav>
}

<section>
	<article>
        <aside id="contacts_left_side">
            <div id="map">
		        <iframe width="500" height="400" src="http://www.bgmaps.com/link/map/6DD8C608CC9B818F417F519034B790A8"></iframe>
            </div>
        </aside>
        <aside id="contacts_right_side">
            <div id="address_container">
                <div id="address_title">Адрес</div><br />
                <div id="address">жк. Надежда-3 <br /> бул. Ломско шосе №139 </div>
            </div>
            <div id="phone_orders_contacts">                
			    <div id="phoneOrders_contacts_header">
				    <h3>Телефони за поръчки</h3>
			    </div>
                    <ul>
                        @foreach (var phone in Model.PhoneOrders)
                        {
					        <li>
						        <img src="@phone.LogoImage" alt="globul logo" width="18" height="15" />
						        <p class="globul_phone">@phone.OperatorName: @phone.PhoneNumber</p> 
					        </li>
                        }
                    </ul>
                <div id="phoneOrders_contacts_footer">
                    <br />
				    <p>Доставки от 10:00 до 23:00 часа.</p>
			    </div>		        
            </div>
        </aside>
	</article>
</section>

@section Footer{
    <footer>
        <div id="footer_text">
            &copy; 2012 Пицария Вики
        </div>
    </footer>
}
