@using PizzaVikiMVC4
@model ProductsNavigationMenusAndPhoneOrders

@{
    Layout = "~/Views/Shared/_LayoutPizzas.cshtml";    
}

@section Menu{
    <nav>
	    <section>
		    <article id="menu">
			    <ul>
				    <li>
					    <a href="/Home/Index/" title="Начало" id="Home" target="_self">Начало</a>
				    </li>
				    <li>
					    <a href="/Home/Index/" target="_self">Меню</a>
					    <ul>
                            @foreach (var navMenu in Model.NavigationMenus)
                            {
						        <li><a href="@navMenu.Link" title="@navMenu.Title" id="pici" target="_self">@navMenu.Text</a></li>
                            }
					    </ul>
				    </li>
				    <li>
					    <a href="/Contacts/Contacts/" title="Контакти" id="Contacts" target="_self">Контакти</a>
				    </li>
			    </ul>
		    </article>
	    </section>
    </nav>
}
		
<article>
    <aside>
        <table>
            @{const int PizzasOnRow = 3;}
            @{int currentPizzaIndex = 0;}
            
            @while (currentPizzaIndex < Model.Products.Count)
            { 
		        <tr>
                    @for (int i = 0; i < PizzasOnRow; i++)
                    {                    
				        <td>
					        <fieldset style="background: url('@Model.Products[currentPizzaIndex].BackgroundImagePath')">
						        <legend>
                                    @Model.Products[currentPizzaIndex].Name
                                </legend>
						        <div class="product_ingredients">
                                    @Model.Products[currentPizzaIndex].Ingredients
						        </div>
					        </fieldset>
				        </td>
                    
                        currentPizzaIndex++;

                        if (currentPizzaIndex >= Model.Products.Count)
                        {
                            break;
                        }
                    }
		       </tr>
            }
        </table>	
    </aside>
</article>  
      					
@section Footer{
    <footer>
        <div id="footer_text">
			&copy; 2012 Пицария Вики
		</div>
    </footer>
}