<!DOCTYPE html>
<html>
    <head>
        <title>Пици Вики</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/Content/style.css"/>
        <link rel="shortcut icon" href="images/Pizzasliceicon.png" type="image/x-icon" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
        <script type="text/javascript">
            $(function () {
                var menuEffect = function () {
                    $('.nav li').find('>ul').hide();
                }
                menuEffect.prototype = {
                    effect: function () {
                        $('.nav li').hover(function () {
                            $(this).find('>ul').slideDown(600);
                        }, function () {
                            $(this).find('>ul').hide();
                        }
                    )
                    }
                }
                obj = new menuEffect();
                obj.effect();
            }); 
        </script>
    </head>
    <body id="pancakes_main_body">
        <div id="wrapper">
			<div id="logo"></div>
            <header id="pancakes_header">            
                <ul class="header_Contacts">
                     @foreach (var phone in Model.PhoneOrders)
                    {
						<li>
							<img src="@phone.LogoImage" alt="globul logo" width="18" height="15" />
							<p class="globul_phone">@phone.OperatorName: @phone.PhoneNumber</p>                        
						</li>
                    }
                </ul>
            </header>
                @RenderSection("Menu")
            <section >
	            <article>
		            <div id="pancakes_catalog_title">
			            <div id="pancakes_title_bg">
				            <div class="catalog_title_font_size">Катми</div>
			            </div>
		            </div>
	            </article>
            </section>
            <section id="body">                
                @RenderBody()       
            </section>             
                @RenderSection("Footer", false)
        </div>
    </body>
</html>

