@using PizzaVikiMVC4;
@model CategoriesAndPhoneOrders

@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section Menu{
    <nav>
	    <section>
		    <article id="menu">
			    <ul>
				    <li>
					    <a href="/Home/Index/" title="Начало" id="Home" target="_self">Начало</a> 
				    </li>
				    <li>
					    <a href="/Home/Index/" target="_self">Меню</a>
					    <ul>                        
                            @foreach (var navMenu in Model.Categories)
                            {
                                string[] arr = navMenu.Link.Split(new char[] { '/' }, StringSplitOptions.RemoveEmptyEntries);
                                
                                <li>
                                    @Html.ActionLink(
                                        navMenu.Title,
                                        arr[1],
                                        arr[0],
                                        new { categoryName = navMenu.Name },
                                        new { id = navMenu.Name })
                               </li>
                            }
					    </ul>
				    </li>
				    <li>
					    <a href="/Home/Contacts/" title="Контакти" id="Contacts" target="_self">Контакти</a>
				    </li>
			    </ul>
		    </article>
	    </section>
    </nav>
}

<article>					
	<aside class="vertboxleft">
		<table>
            @for (int i = 0; i < Model.Categories.Count; i++)
            {                    
                <tr>
					<td>
                        @{char[] separators = { '/', };}
                        @{string[] arr = @Model.Categories[i].Link.Split(separators, StringSplitOptions.RemoveEmptyEntries);}

                        @Html.ImageActionLink(
                            Url.Content(Model.Categories[i].BackgroundImagePath), 
                            String.Empty, 
                            arr[1], 
                            arr[0], 
                            new { categoryName = Model.Categories[i].Name }, 
                            new{ title = Model.Categories[i].Title, id = Model.Categories[i].Name, @class = "bodymenu"}, 
                            new { @class="image", alt = "pancakes"})
					</td>

                    @if (i + 1 >= Model.Categories.Count)
                    {
                        break;
                    }
                    else
                    {
                        i++;
                    }

					<td>
						 @{arr = @Model.Categories[i].Link.Split(separators, StringSplitOptions.RemoveEmptyEntries);}
                         
                         @Html.ImageActionLink(
                            Url.Content(Model.Categories[i].BackgroundImagePath), 
                            String.Empty, 
                            arr[1], 
                            arr[0], 
                            new { categoryName = Model.Categories[i].Name }, 
                            new{ title = Model.Categories[i].Title, id = Model.Categories[i].Name, @class = "bodymenu"}, 
                            new { @class="image", alt = "pancakes"})
					</td>
				</tr>                    
            }	
		</table>
	</aside>
	<aside class="vertboxright">
		<section>
			<article>
				<iframe width="305" height="200" src="http://www.bgmaps.com/link/map/6DD8C608CC9B818F417F519034B790A8"></iframe>
			</article>
			<article id="phone_orders">
				<ul>
					<li>
						<h3>Телефони за поръчки</h3>
					</li>
                        @foreach (var phone in Model.PhoneOrders)
                        {
							<li>
								<img src="@phone.LogoImage" alt="globul logo" width="18" height="15" />
								<p class="globul_phone">@phone.OperatorName: @phone.PhoneNumber</p>                        
							</li>
                        }
                    <li>
                        <br />
						<p>Доставки от 10:00 до 23:00 часа.</p>
					</li>
				</ul>
			</article>
			<article id="region_1">	
                    <div>
						<h3>Доставки</h3>
					</div><hr />				
                    @foreach (var subArea in @Model.SubAreas)
                    {
                        <p>За районите: </p>
					    <br/><br/>
					    <div id="region_1_info">
						    <ul>
							    <li>
								    @subArea.Name
							    </li>
						    </ul>
						    <h5>
                                Доставка: @subArea.DelivaryPrice<br/>
						    </h5>
					    </div>
                        <hr/><br/>
                    }						
			</article>
		</section>
	</aside>
</article>

@section Footer{
    <footer>
        <div id="footer_text">
            &copy; 2012 Пицария Вики
        </div>
    </footer>
}